html {
	background-image: url("dog2.jpg");
	background-position: center;
	background-size: 1080px;
	background-repeat: no-repeat;

}


h1 {
	text-align: center;
	color: red;
	width: 300px;
    border: 25px dotted red;
    padding: 25px;
    margin: auto;
    align-self: center;
}


form {
	text-align: center;
	color: red;
	font-size: 25px;
}